<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    .table-container {
        padding: 15px 20px;
    }

    .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #ccc;
    }
</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">News</a>
        <!-- <a href="#contact">Contact</a>
        <a href="#about">About</a> -->
    </div>
    <!-- <div class="form-add-new">
        <form action="/create-new" method="post">
            <fieldset>
                <legend>Add new users</legend>

                <div class="input-group">
                    <label>Name
                    </label>
                    <input type="text" id="name" name="name" />

                </div>
                <div class="input-group">
                    <label>Email
                    </label>
                    <input type="text" id="email" name="email" />

                </div>
                <div class="input-group">
                    <label>City
                    </label>
                    <input type="text" id="city" name="city" />

                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div> -->


    <div class="table-container">

        <!-- // dòng dưới để chuyển qua kiểu JSON
                vì lỗi [object Object]
            <%=JSON.stringify(listUsers) %> -->
        <div class="title">List User</div>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Points</th>
                <th>Points</th>
                <th>Actions</th>
            </tr>

            <!-- dòng dưới là
                vòng lặp for trong ejs -->

            <% for (let i=0; i < listUsers.length ; i++) {%>
                <tr>
                    <td>
                        <%= listUsers[i].id %>
                    </td>
                    <td>
                        <%= listUsers[i].email %>
                    </td>
                    <td>
                        <%= listUsers[i].name %>
                    </td>
                    <td>
                        <%= listUsers[i].city %>
                    </td>
                    <td>
                        <button><a href="/update/<%= listUsers[i].id %>">Edit</a></button>
                        <button>Delete</button>
                    </td>
                </tr>
                <% } %>


        </table>
    </div>
</body>

</html>